<ul>
  <% @users.each do |user| %>
    <li>
      <article>
        <header>
          <h2><%= link_to(user.username, user) %></h2>
        </header>
        <p>
          Password: <%= user.password %>
        </p>
        <p>
          Email: <%= user.email %>
        </p>
      </article>
    </li>
  <% end %>
</ul>