@import "colors";

body {
	background-color: $light_color;
	color: $header_color;
}

/*
 * Header
 */
#userlogin-header { 
	height: 100px;
	background-color: $header_color;
}
#userlogin-title {
	max-width: 1000px;
	width: 100%; 
	margin: 0px auto;
}
.userlogin-title-text {
	margin: 0px;
	padding: 0px 0px 0px 10px;
	line-height: 100px;
}
.userlogin-title-link:link, .userlogin-title-link:visited {
	color: #fff;
	text-decoration: none;
}


/*
 * Menu
 */
.userlogin-menu-list {
	padding: 0px;
	margin: 0px;
}
.userlogin-menu-list-item {
	display: inline;	
	padding-right: 10px;
}
.userlogin-menu-link:link, .userlogin-menu-link:visited {
	color: #fff;
	text-decoration: none;
}

/*
 * Top Navigation
 */
#userlogin-navigation {
	height: 50px;
	line-height: 50px;
	background-color: $dark_color;
	padding-left: 10px;
}
.userlogin-navigation-container {
	max-width: 1000px;
	width: 100%; 
	margin: 0px auto;
}
.userlogin-navigation-container .userlogin-menu-link:hover,
.userlogin-navigation-container .userlogin-menu-link:active {
	text-decoration: underline;
	color: $lightest_color;
}

/*
 * Content
 */
#userlogin-container {
	background-color: #efefef;
}
#userlogin-content {
	max-width: 1000px;
	width: 100%; 
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

/*
 * Footer
 */
#user-footer {
	background-color: $light_color;
}
.user-footer-navigation {
	max-width: 1000px;
	width: 100%;
	margin: 0px auto;
	text-align: center;
	padding-top: 20px;
	text-transform: uppercase;
	font-size: .8em;
}
.user-footer-navigation .userlogin-menu-link:hover,
.user-footer-navigation .userlogin-menu-link:active {
	text-decoration: underline;
	color: $darkest_color;
}
.user-footer-copyright {
	max-width: 1000px;
	width: 100%; 
	margin: 0px auto;
	color: #fff;
	text-align: center;
	font-size: .8em;
	padding: 20px 0px 20px 0px;
}
.user-footer-copyright-link:link, .user-footer-copyright-link:visited {
	color: #fff;
	text-decoration: underline;
}
.user-footer-copyright-link:hover, .user-footer-copyright-link:active {
	color: $darkest_color;
}