<footer id="user-footer">
  <div class="user-footer-navigation">
    <%= render "layouts/navlinks" %>
  </div>
  <p class="user-footer-copyright">  
    Copyright &copy; 2013 <a href="http://www.mitchellshelton.com" title="Visit mitchellshelton.com" class="user-footer-copyright-link">Mitchell Shelton</a>
  </p>  
</footer>